.row-fluid
  .span22
    = f.input :supplier_name1, input_html: { class: 'span' }, autofocus: true, label: 'Supplier'
  .span9
    = f.input :doc_date, as: :datepicker, input_html: { class: 'span38' }, label: 'Order at'
  .span9
    = f.input :available_at, as: :datepicker, input_html: { class: 'span38' }
#details
  .row-fluid
    = render_purchase_order_details_fields f, :details
.row-fluid
  .span24
    = f.input :note, input_html: { rows: 2, class: 'span' }

:coffee
  ($ document).ready -> purchase_order.init()