.row-fluid
  .span20
    = f.input :name, autofocus: true
  .span24
    = f.input :overnight, input_html: { class: :span20 }, label: "Is Overnight Shift"

.row-fluid
  .span5
  .span9.bold Collection Start
  .span9.bold Actual
  .span9.bold Collection End
.row-fluid
  .span5.bold Shift Start
  .span9
    = f.input :shift_start_start, input_html: { class: :span20 }, label: false
  .span9
    = f.input :shift_start_actual, input_html: { class: :span20 }, label: false
  .span9
    = f.input :shift_start_end, input_html: { class: :span20 }, label: false
  .offset1.span9
    .span16.bold late in
    = f.input :shift_late_in, input_html: { class: :span23 }, label: false

.row-fluid
  .span5.bold Shift End
  .span9
    = f.input :shift_end_start, input_html: { class: :span20 }, label: false
  .span9
    = f.input :shift_end_actual, input_html: { class: :span20 }, label: false
  .span9
    = f.input :shift_end_end, input_html: { class: :span20 }, label: false
  .span9
    .span21.bold early out
    = f.input :shift_early_out, input_html: { class: :span23 }, label: false
%br
.row-fluid
  .span5.bold Meal
  .span9
    = f.input :meal_start, input_html: { class: :span20 }, label: false
  .span9
    = f.input :meal_end, input_html: { class: :span20 }, label: false
  .span9
    .span24.bold early out
    = f.input :meal_early_out, input_html: { class: :span20 }, label: false
  .offset1.span9
    .span16.bold late in
    = f.input :meal_late_in, input_html: { class: :span23 }, label: false