.row-fluid
  = hidden_field_tag :sales_order_detail_id
  = hidden_field_tag :purchase_order_detail_id
  .span10
    = f.input :order_info, input_html: { class: 'note span' }, wrapper: :table_field
  .span10
    = f.input :pur_order_info, input_html: { class: 'note span' }, wrapper: :table_field
  .span5
    = f.input :load_date, input_html: { class: 'quantity span', type: :text }, wrapper: :table_field
  .span5
    = f.input :load_qty, input_html: { class: 'quantity span', type: :text }, wrapper: :table_field
  .span5
    = f.input :deliver_date, input_html: { class: 'quantity span', type: :text }, wrapper: :table_field
  .span5
    = f.input :deliver_qty, input_html: { class: 'quantity span', type: :text }, wrapper: :table_field
  .span10
    = f.input :note, input_html: { class: 'note span' }, wrapper: :table_field
  .span2
    = f.link_to_remove "X", class: "btn btn-danger", tabindex: -1
