= simple_nested_form_for @loading_order do |f|
  .row-fluid
    .span16
      = f.input :transporter_name1, input_html: { class: 'span' }, autofocus: true, label: 'Transporter'
    .span6
      = f.input :doc_date, as: :datepicker, input_html: { class: 'span38' }, label: 'Date'
    .span6
      = f.input :lorry_no, input_html: { class: 'span' }
    .span20
      = f.input :note, input_html: { class: 'span', rows: 1 }
  - for sodid in @sales_order_detail_ids
    %h4
      %span
        = sales_order_detail_info sodid
        -purchase_orders = matching_purchase_orders(sodid)
    #purchase_orders
      %table.table-bordered.table
        %thead
          %tr
            %th.span3 Date
            %th.span3 Available
            %th.span7 Supplier
            %th.span7 Product
            %th.span3 Package
            %th.span4 Quantity
            %th.span4 Load Quantity
        %tbody
          - for t in purchase_orders
            %tr
              -# = hidden_field_tag("arrangement[sales_order_detail_id]", @sod.id)
              -# = hidden_field_tag("arrangement[purchase_order_detail_id]", t.purchase_order_detail_id)
              %td.span3= t.doc_date
              %td.span3= t.available_at
              %td.span7= link_to t.supplier_name.first(20), edit_purchase_order_path(t.id)
              %td.span7= label_tag dom_id(t), t.product_name
              %td.span3= label_tag dom_id(t), (t.package_qty.to_i == 0 ? '' : t.package_qty.to_i.to_s) + ' ' + t.packaging_name
              %td.span4= label_tag dom_id(t), number_with_precision(t.balance, precision: 2, delimiter: ',') + " " + t.unit
              -# %td.span3= f.input_field(:load_quantity, class: 'span35 numeric') + t.unit
        - if purchase_orders.length == 0
          %tr
            %td{colspan: 9}
              %h2 No Matching Purchase Order found!

  = f.button :submit, 'Send Selected PO', class: 'btn btn-danger'
