= simple_form_for :sales_orders_find, url: sales_orders_path, html: { class: 'form-search' }, method: :get do |f|
  = label_tag 'Search Terms', nil, class: :bold
  = f.input_field :term, value: session[:sales_orders_find][:term], class: 'span12'
  = label_tag 'Order/Deliver', nil, class: :bold
  = f.input_field :date, value: session[:sales_orders_find][:date], class: 'span4 datepicker'
  = label_tag 'Fulfilled', nil, class: :bold
  = f.input_field :fulfilled, collection: [false, true], selected: session[:sales_orders_find][:fulfilled], class: 'span3'
  = f.button :submit, 'Find', class: 'btn btn-primary'
  