= render 'order_filter'
= simple_form_for :loading_order, url: new_loading_order_path, method: :get do |f|
  #sales_orders
    %table.table-bordered.table
      %thead
        %tr
          %td.span1
          %th.span3 Date
          %th.span3 Deliver
          %th.span10 Customer
          %th.span10 Product
          %th.span10 Arrangements
      %tbody
        - for t in @sales_order_details
          %tr
            %td.span1
              = hidden_field_tag "sales_order_detail_ids[#{t.id}]", 0
              = check_box_tag "sales_order_detail_ids[#{t.id}]", 1, false, id: dom_id(t), class: 'sales_order_detail_index_row'
            %td.span3=  label_tag dom_id(t), t.doc_date
            %td.span3=  label_tag dom_id(t), t.deliver_at
            %td.span10= link_to "##{t.sales_order_id} " + t.customer_name.gsub(/\s/, ''), edit_sales_order_path(t.sales_order_id)
            %td.span10= sales_order_product_info(t)
            %td.span10= arrangements_info(t)
        - if @sales_order_details.length == 0
          %tr
            %td{colspan: 6}
              %h2 No Record found!
  = link_to 'New Sales Order', new_sales_order_path, class: 'btn btn-success'
  = f.button :submit, 'Arrange Transport', class: 'btn btn-danger'

#loading_orders

:coffee
  ($ document).ready -> sales_order.init()
