= render_flash
= simple_nested_form_for @sales_order, html: { class: 'span40 form-inline well' } do |f|
  %legend
    New Sales Order
  = render 'sales_orders/fields', f: f
  .form-actions
    = f.button :submit, 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', SalesOrder.last ? edit_sales_order_path(SalesOrder.last) : root_path, class: 'btn btn-warning'
